node_modules/
dist/
*.log
.DS_Store
*.tsbuildinfo
# packages/*/node_modules/
packages/*/dist/
packages/*/dist-chrome/
packages/*/dist-firefox/
*.cpuprofile

# Environment
.env

# Editor files
.vscode/
.zed/
.idea/
.claude/
*.swp
*.swo
*~

# Package specific
.npm/
coverage/
.nyc_output/
.pi_config/
tui-debug.log
compaction-results/
.opencode/
syntax.jsonl
out.jsonl
pi-*.html
out.html
packages/coding-agent/binaries/
todo.md
plans/
.pi/hf-sessions/
.pi/hf-sessions-backup/
collect.sh
.zig-cache/
zig-pkg/
zig-out/

# agent
.factory
zig/.pi/
validation/
zig/root
zig/vendor/zwasm/*
!zig/vendor/zwasm/build.zig
!zig/vendor/zwasm/build.zig.zon
!zig/vendor/zwasm/LICENSE
!zig/vendor/zwasm/src/
!zig/vendor/zwasm/src/**
